mixin tagger()
	.tagger&attributes(attributes)
		input.tagger__control(type= 'hidden')
		.tagger__caption Метки:
		ul.tagger__list
			li.tagger__item_new
				input.tagger__input(type= 'text' placeholder='Перечислите темы записи через пробел')