include ../blocks/add-news/add-news

doctype html
html(lang='ru')
	head
		meta(charset='utf-8')
		meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, minimal-ui')
		title Ylab Brief Test
		link(href= 'assets/css/app.css' rel= 'stylesheet')
	body
		+add-news()
